@import '@/assets/styles/variables/mixins.scss';

.footer {
    background-color: var(--dark-color);
    width: 100%;
    color: #fff;

    &__content {
        padding: 48px 128px;
        display: flex;
        column-gap: 24px;
        align-items: flex-start;

        img {
            width: 40px;
            height: auto;
        }

        @include tablet {
            padding: 48px 32px;
        }
    }
    
    &__content-body {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 30%;

        @include tablet {
            width: 100%;
        }
    }
    
    &__content-body-title {
        font-size: 18px;
        font-family: 'Roboto-Bold', sans-serif;
    }

    &__content-body-company {
        font-size: 18px;
        font-family: 'Roboto-Light', sans-serif;
    }

    &__content-body-text {
        font-size: 14px;
        font-family: 'Roboto-Light', sans-serif;
        line-height: 32px;

    }

    &__copyright {
        padding: 0 128px 16px 128px;
        font-size: 14px;
        font-family: 'Roboto-Light', sans-serif;

        @include tablet {
            padding: 0 32px
        }
    }
}