.home {
    display: flex;
    flex-direction: column;

    &__bg-left {
        position: absolute;
        top: 350px;
        left: -85px;
        z-index: -1;
    }

    &__bg-right {
        position: absolute;
        top: -60px;
        right: 0;
        z-index: -1;
    }

    &__header {
        width: 100%;
        padding: 100px 10% 120px 12%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__header-title {
        font-size: 60px;
        font-weight: 700;
    }
   
    &__header-content {
        font-size: 22px;
        width: 34%;
        line-height: 35px;
    }

    &__header-btn-content button {
        background-color: var(--primary-color);
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: 0.4s;
    }

    &__header-btn-content button:hover {
        background-color: var(--accent-color);
        color: #fff;
    }

    &__download-links {
        padding: 25px 0;
        display: flex;
        justify-content: center;
        column-gap: 50px;
    }

    &__hr-line {
        width: 90%;
        margin: 0 auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 1px;
        opacity: .1;
    }

    &__header-body {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    &__header-body-title {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 42px;
    }

    &__header-body-content {
        font-size: 22px;
        width: 40%;
        text-align: center;
        line-height: 35px;
    }

    &__section {
        padding: 200px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 150px;
    }

    &__section-content {
        display: flex;
        column-gap: 50px;
        width: 40%;

        div img {
            width: 350px;
            height: auto;
        }

        div:nth-child(odd) {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }

    &__section-content:nth-child(odd) {
        text-align: right;
    }

    &__section-content:nth-child(even) {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
    }

    &__section-content-title {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 36px;
    }

    &__section-content:nth-child(odd) &__section-content-text {
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 30px;
        width: 90%;
        align-self: end;
    }

    &__section-content:nth-child(even) &__section-content-text {
        font-family: 'Roboto-Light', sans-serif;
        font-size: 18px;
        line-height: 30px;
        width: 90%;
    }

    &__section-download-bg {
        position: absolute;
        right: 0;
        top: -40px;
    }

    &__section-download {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 0;
        color: #fff;
        row-gap: 60px;
        position: relative;
    }

    &__section-download-content {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__section-download-links {
        display: flex;
        column-gap: 40px;
    }

    &__section-download-title {
        font-size: 42px;
        font-weight: 700;
        font-family: 'Roboto-Bold', sans-serif;
    }
    
    &__section-download-text {
        font-size: 20px;
    }

    &__section-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0 295px 0;
        row-gap: 15px;
        position: relative;

        span {
            font-size: 42px;
            font-weight: 700;
            font-family: 'Roboto-Bold', sans-serif;
        }       

        .card:nth-child(odd) {
            background-color: var(--secondary-color);
        }

        .card:nth-child(even) {
            background-color: var(--accent-color);
        }
    }

    &__card-container {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-top: 50px;
    }

    &__section-actions-content {
        font-size: 20px;
    }

    &__section-actions-bg {
        position: absolute;
        bottom: -5px;
        right: 0;
        z-index: -1;
    }
}