@import './variables/typhography';
@import './variables/mixins';

:root {
    --primary-color: #2248e2;
    --secondary-color: #ffc107;
    --accent-color: #17a2b8;
    --dark-color: #343a40;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    font-family: 'Roboto-Thin', sans-serif;
}
  
  